@import '../scss/style.scss';

.link-button {
  text-decoration: none;
  color: #333333;
  margin: 10px;
  white-space: nowrap;
  @include media-mobiles-big() {
    margin: 0;
  }

  &:active,
  &:focus {
    color: #333333;
  }
  &:hover {
    color: #FF9900;
  }

  &.current {
    color: #FF9900;
    text-shadow: 0 0 2px black, 0 0 4px black;

    &:active,
    &:hover,
    &:focus {
      color: #FF9900;
    }

  }
}
