.wrapper {
  flex-grow: 1;
}

.tiles {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;

  @media (max-width: 768px) {
    padding: 20px;
  }
}

a{
  text-decoration: none;
  color: black;
  cursor: default;
}

.tile {
  width: 263px;
  height: 225px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.541);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  background-size: cover;
  margin: 20px;
  text-decoration: none;
  text-transform: none;
  transition: 0.4s;
  text-shadow: 0px 2px 2px white;
  cursor: pointer;
}

.tile:hover{
  color: white;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.541);
  text-shadow: 0px 2px 2px black;
}
