.tiles {
  width: 80%;
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tile {
  width: 200px;
  height: 200px;
  background-color: yellowgreen;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.541);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
}

.tilePuzzle {
  width: 376px;
  height: 267px;
  background: url('./puzzle/data/engPuzzleButton.png');
}
