.authorizationWrapper {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  line-height: 1.5em;
  background-image: url("/images/auth-background.png");
  background-size: cover;
  padding-bottom: 30px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;


  @media (max-width: 920px) {
    font-size: 18px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.logInContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.title {
  font-family: Rubik, sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 1.15em;
  margin: 20px 0;
  text-align: center;

  @media (max-width: 920px) {
    font-size: 40px;
  }

  @media (max-width: 768px) {
    font-size: 26px;
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: transparent;
  max-width: 600px;
  margin: 50px 20px;
}

.learnMore {
  width: 200px;
  height: 50px;
  align-self: center;
  background: #FF9900;
  border: none;
  border-radius: 15px;
  box-shadow: #e48900 0 5px;
  margin: 20px 0;
  cursor: pointer;
}

.learnMore:hover{
  background: #cc7a00;
  box-shadow: #bb7000 0 5px;
}


