.headerLinkButton {
  margin: 10px;
  padding: 10px 20px;
  background-color: #999999;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 3px;

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    background-color: #666666;
  }
}
