.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1020px;
  margin: 40px auto;
}

.screen {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.gameContentWrapper {
  display: flex;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  margin: 10px 0;
}

.field {
  height: 40px;
  width: 100%;
  border-radius: 30px;
  margin: 10px 0;
  text-align: center;
  font-size: 22px;
  line-height: 35px;
  background-color: #D0FFF7;
}

.words, .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 500px;
}

.words{
  flex-direction: column;
  flex-basis: 25%;
  width: 100%;
}

.images{
  flex-basis: 75%;
}

.word {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 5px;
  width: calc(70% - 10px);
  height: 75px;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.tip{
  width: 30px;
  height: 30px;
  margin: 5px 0;
  border-radius: 50%;
  background-color: rgb(179, 179, 179);
  font-size: 16px;
  color: #333333;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover{
    background-color: grey;
  }
}

.tipText{
    font-size: 14px;
    color: #333333;
}

.usual {
  border: 1px solid #a0fdee50;
  background-color: #d1fff6ab;
  &:focus, &:hover{
    border: 1px solid #5ef1d950;
    background-color: #a5fdeeab;
  }
}

.current {
  border: 1px solid #77e9d6;
  background-color: #D0FFF7;
}

.right{
  border: 1px solid #07630b;
  background-color: #02ff39;
  cursor: not-allowed;
 &:hover{
  border: 1px solid #07630b;
  background-color: #02ff39;
 }
}

.wordInnerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  justify-content: center;
  flex: 1 1 1px;
}

.value {
  margin: 5px 0;
}

.transcription {
  margin: 5px 0;
}

.button {
  height: 60px;
  border-radius: 22px;
  background-color: #FF9900;
  min-width: 200px;
  outline: none;
  border: none;
  box-shadow: 0 -4px 4px 0px inset rgba(0, 0, 0, 0.25);
  margin: 0 10px;
  cursor: pointer;
}

.levels {
  height: 5px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selects {
  display: flex;
  align-items: center;

  &>select {
    outline: none;
    border: 1.5px solid #333333;
    border-radius: 5px;
  }
}

.label {
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  margin: 10px;
  white-space: nowrap;
}

.imageCardWrapper{
  width: 17%;
  height: 250px;
  margin: 5px 0px 0px 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
}

.imageCard{
  width: 95%;
}

.controls{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.preloader {
  width: 100%;
  height: 100%;
}
