.cardContainer{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    width: 630px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.24);
    border-radius: 23px;
    padding: 15px;
    height: 375px;

  .wordContainer{
    width: min-content;
    position: relative;
    margin: 5px;
    padding: 2px;
    font-size: 20px;
    background: #D0FFF7;
    border-radius: 10px;
    div{
      padding: 2px;
      visibility: hidden;
      color: red;
      position: relative;
      z-index: 2;
    }
    .showCurrentWord{
      visibility: visible;
    }
    input{
      border: none;
      outline: none;
      font-family: inherit;
      font-size: inherit;
      padding: 2px;
      width: calc(100% - 8px);
      display: inline;
      background: none;
      position: absolute;
      z-index: 1;
      top: 2px;
    }
  }
  @keyframes switchCard {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  p{
      margin: 2px;
  }

  .putDownOnAns{
    animation: putDown 1s;
  }

  @keyframes putDown {
    from{
      margin-top: -24px;
      opacity: 0;
    }
    to{
      margin-top: initial;
      opacity: 1;
    }
  }

  img{
    width: 165px;
    height: 135px;
    border-radius: 5px;
  }
  .gradeContainer{
    display: flex;
    width: 190px;
    height: 56px;
    align-items: center;
    justify-content: space-around;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    div{
      width: 45px;
      height: 40px;
      border-radius: 10px;
      cursor: pointer;
    }
    .easyBtn{
      background-color: #8BFF62;
      box-shadow: 0px 2px 0px 0px #52D524;
    }
    .mediumBtn{
      background-color:  #FFF733;
      box-shadow: 0px 2px 0px 0px #E8E02D;
    }
    .hardBtn{
      background-color: #FB0B0B;
      box-shadow: 0px 2px 0px 0px #9F0B0B;
    }
  }
  .controlContainer{
    display: flex;
    width: 45px;
    flex-direction: column;
    align-items: center;
    height: 167px;
    justify-content: space-between;
    align-self: flex-end;
    position: absolute;
    div{
      width: 45px;
      height: 45px;
      background: #FF9900;
      box-shadow: 0px 2px 0px 0px #DE8500;
      border-radius: 22px;
      cursor: pointer;
    }
  }
}
