.button {
  height: 60px;
  border-radius: 22px;
  background-color: #FF9900;
  min-width: 100px;
  outline: none;
  border: none;
  box-shadow: 0 -4px 4px 0px inset rgba(0, 0, 0, 0.25);
  margin: 0 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 520px;
  height: calc(100vh - 200px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(160, 160, 160, 0.562);
  border-radius: 20px;
  padding: 20px;
}

.items_wrapper {
  width: 100%;
  max-height: calc(100% - 120px);
  overflow-y: auto;
}

.head {
  margin: 20px 20px 10px;
}

.title {
  font-size: 22px;
  font-weight: 800;
}

.right_count,
.mistakes_count {
  display: inline-block;
  width: 30px;
  text-align: center;
  border-radius: 10px;
  margin-left: 10px;
}

.right_count {
  background-color: green;
}

.mistakes_count {
  background-color: red;
}

.item {
  display: flex;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}

.controls {
  display: flex;
  margin: 20px;
}
