.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-color: rgb(176, 216, 103);
}

.graph {
  height: 300px;
  width: 300px;
}
