.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    height: 250px;
}

.session {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    justify-content: space-around;
    background-color: rgb(176, 216, 103);
}

.graph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-color: rgb(176, 216, 103);
}