.results-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 40px 10px 10px;
  transition: .5s;
  background-image: url('../../assets/img/bg.png');
  background-size: cover;
  z-index: 60;
}

.wrapper-results {
  background: white;
  border-radius: 5px;
  padding: 10px;
  overflow-y: auto;
  @extend %custom-scroll;
}

.result-image {
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
}

.wrapper-result {
  display: flex;
  padding: 2px 0;
}

.result-audio {
  background: url('../../assets/img/micro.svg');
  height: 20px;
  width: 20px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

.result-dont-know,
.result-know {
  padding: 10px;
}

.wrapper-results-button {
  justify-content: center;
}
