.start-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  transition: .5s;
  background-image: url('../../assets/img/bg.png');
  background-size: cover;
  z-index: 5;
  height: calc(100vh - 210px);
  position: relative;
  overflow: auto;
}
