* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: monospace;
    @include font($size: 1.6rem, $weight: bold);
}

.event-none {
    pointer-events: none;
    opacity: .5;
}

.event-none-opacity-full {
    pointer-events: none;
    opacity: 1;
}

.hidden {
    display: none;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: 10;
}

.opacity-half {
    opacity: .6;
    -webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
    -ms-transition: opacity 250ms;
    transition: opacity 250ms;
}

.opacity-full {
    opacity: 1;
    pointer-events: auto;
}

.opacity-clear-zero {
    opacity: 0;
}

.fixed {
    position: fixed;
    z-index: 50;
}

.grabbing {
    cursor: grabbing;
}

.absolute {
    position: absolute;
}

.wave {
    animation: 0.5s infinite alternate opacity;          
}

.assembled-puzzle {
    margin-right: -10px;
}
