.btn {
  display: inline-block;
  margin: 10px auto;
  font-size: 24px;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
  min-width: 160px;
  color: #fff;
  background: #00c49d;
  border-radius: 4px;
  visibility: visible;
  transition: .15s;
  border: 0;
  cursor: pointer;
  &:hover {
    @extend %transition;
    box-shadow: 0px 0px 10px rgba(0, 173, 159, 0.75);
    background-color: rgba(7, 85, 78, 0.808);
  }
}

.btn-small {
  display: inline-block;
  text-align: center;
  padding: 5px 15px;
  margin: 4px;
  text-decoration: none;
  color: #fff;
  background: #00c49d;
  border-radius: 4px;
  visibility: visible;
  transition: .15s;
  border: 0;
  cursor: pointer;
  &:hover {
    @extend %transition;
    box-shadow: 0px 0px 10px rgba(0, 173, 159, 0.75);
    background-color: rgba(7, 85, 78, 0.808);
  }
}

.game-round-btn {
  margin: 5px;
}
