.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.train {}

.train:hover {
  background-color: #b0bec5d0;
  cursor: pointer;
}

.recognized {
  box-shadow: 0 0 20px 2px #37474fd5 inset;
}

.icon {
  margin-left: 10px;
}