.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    border: 3px solid #000;
    border-radius: 5px;
}